html, body {
  background-color: yellow;
}
h1{
  color: rgb(200,10,50);
  text-align: center;
  background-color: white;
  border: 30px solid black;
  border-radius: 8px;
  font-size: 60px;
  font-family: algerian;
  margin-top: 5px;
  margin-bottom: 17px;
  text-transform: uppercase;
}
h2 {
  color: rgb(50, 50, 150);
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  font-family: italic;
  font-weight: bold;
  text-transform: uppercase
}
p {
  font-family: fantasy;
  background-color: lightblue;
  margin: 15px 12.4%;
  padding: 17px 40px;
  width: 1000px;
  box-sizing: border-box;
  font-size:18px;
  border: 1px solid black;
  outline-style: solid;
  outline-color: black;
  outline: 5px solid black;
  outline-offset: 3px;
  color: black;
  text-transform: capitalize;
  line-height: normal;
  text-decoration: inherit;
  display: block;
}
iframe {
  height: 200px;
  width: 25%;
  background-color:rgb(50, 50, 75);
  border: 5px solid black;
  margin-top: 5;
  margin-bottom: 15px;
}
