html,body {
background-color: yellow;
  padding:100px 20%;
  margin: 0;
}
<!--<p>Queenie Cabalhin TEJ20 January 26, 2018. This is my Exam today. Good luck!</p>-->
p {
  color: blue;
  font-size: 14px;
}
img {
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
}
div {
  color: red;
  marging: auto;
  border: 3px solid green;
