html, body {
  
}
#trailers h1{
  color: rgb(200,10,50);
  text-align: center;
  background-color: white;
  border: 30px solid black;
  border-radius: 8px;
  font-size: 60px;
  font-family: algerian;
  margin-top: 5px;
  margin-bottom: 17px;
  text-transform: uppercase; 
}
#trailers h2 {
  color: rgb(50, 50, 150);
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  font-family: italic;
  font-weight: bold;
  text-transform: uppercase
}

#trailers p {
 display:block;
  justify-content: center;
  align-content: center;
  font-family: fantasy;
  background-color: lightblue;
  margin: auto;
  padding: 25px 50px;
  width: 1000px;
  box-sizing: border-box;
  font-size:18px;
  border: 1px solid black;
  outline-style: solid;
  outline-color: black;
  outline: 5px solid black;
  outline-offset: 3px;
  color: black;
  text-transform: capitalize;
  line-height: normal;
  text-decoration: inherit;
}

iframe {
  display: grid;
  height: 200px;
  width: 25%;
  background-color:rgb(50, 50, 75);
  border: 5px solid black;
  margin-top: 5;
  margin-bottom: 15px;
}

header {
  background: black;
  color: white;
  padding: 8px 0px 6px 40px;
  height: 60px;


}
header h1 {
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32px;
  float: left;
  margin-top: 0px
  margin-right: 10px;
  height: 10px;

}
nav ul {
  display: inline;
  padding: 0px;
  float: left;


}
nav ul li {
  display: inline-block;
  list-style-type: none;
  color: white;
  float: left;
  margin-left: 12px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
#nav {
  font-family: 'Montserrat', sans-serif;
}

.homered{
  background-color: red;
  padding: 30px 10px 16px 10px;
}

.divider {
  background-color: red;
  height: 5px;
}
.homeblack:hover{
  background-color: blue;
  padding: 30px 10px 16px 10px;
}
footer{
  padding: 1px;
  margin-top: 10px
  color:#ffffff;
  background-color: black;
  text-align: center;
}
footer p {
  color: white;
}
.welcome {
  background-color: black;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  position: relative;
  padding:15px;
  position: relative;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

